{% load static %}
{%include "NavBar.html"%}
<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static "css/foundation.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
</head>
<body>


<div class="grid-container">
  <div class="grid-item"></div>
  <div class="grid-item">{{ body }}</div>
  <div class="grid-item">
    <div id="app-4">
      <span v-if="seen">
        <ul>
          {% for item in q_list %}
            <li> {{ item }} </li>
          {% endfor %}
        </ul>
      </span>
      <span v-if="unseen">
        <ul>
          <li v-for="todo in Quests">
            {% verbatim %}
            {{ todo.QuestName }}
            {%endverbatim%}
          </li>
        </ul>
    </span>
    </div>
      </div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"><div id ="app-2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds to see my dynamically bound title!
      </span>
  </div></div>
  <div class="grid-item"><div id ="app"> {% verbatim %} {{ message }} {% endverbatim %}</div></div>
  <div class="grid-item"><p class = "button">Look, a button!</p></div>
  <div class="grid-item"></div>
  <div id="app-2">
  <form method="POST" action ="">{% csrf_token %}<table>{{ form }}</table><input type="submit" value="Add Quest"</input></form>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="{% static "myvue.js" %}"></script>
  <script src="{% static "vue.js" %}"></script>
  <script src="{% static "js/vendor/jquery.js" %}"></script>
  <script src="{% static "js/vendor/what-input.js" %}"></script>
  <script src="{% static "foundation.js" %}"></script>
  <script src="{% static "js/app.js" %}"></script>




</body>
</html>
